## Copy this file to .env and fill values before running docker-compose
# Postgres (container)
POSTGRES_USER=postgres
POSTGRES_DB=your_db_name
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_PORT=5460

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Queue
CORTEX_QUEUE_PORT=8001

# Server
CORTEX_SERVER_PORT=8000

# Local Timezone - Event Worker Logging
TZ=Asia/Kolkata

# Hugging Face
HF_TOKEN=<your_hf_token>
HF_CACHE_DIR=/root/.cache/huggingface
TRANSFORMERS_CHECK_LOCAL_CACHE=1 # 1 - Use local cache only for transformers loads, 0 - Allow downloads

# Google Creds
GOOGLE_CLIENT_ID=<your_google_client_id>
GOOGLE_CLIENT_SECRET=<your_google_client_secret>
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/callback/google
GOOGLE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
